[submodule "external_dependencies/googletest"]
	path = external_dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "external_dependencies/tracy"]
	path = external_dependencies/tracy
	url = https://github.com/wolfpld/tracy.git
